<%= provide(:title, "FAQ") %>

<div class="wrapper">
  <div class="container">
    <div class="padding-vertical-large">
      <div class="mid-container">

        <div class="category-image-container link-color">
          <img class="thumbnail-image" src="https://i.imgur.com/wQF1QSE.jpg">
          <div class="category-image-centered mid-text">
            Frequently asked questions
          </div>
        </div>

      </div>
    </div>

    <div class="flex padding-bottom-large">
      <aside class="sidebar">
        <ul>
          <li id="first-tab-click" class="active-sidebar-tab">General</li>
          <li id="second-tab-click" class="inactive-sidebar-tab">Account</li>
          <li id="third-tab-click" class="inactive-sidebar-tab">Purchases</li>
        </ul>
      </aside>

      <main class="content">
        
        <div id="first-tab">



        </div>

        <div id="second-tab">

          <div class="padding-bottom mid-text">
            Why can't I sign into my account?
          </div>

          <div class="padding-vertical">
            Uh, oh. That's not good. Think of all the activity that's happening on your account while you waste your time reading this meaningless sentence when you could have just skipped to the next paragraph and figured it out by now. Ok, sorry.
          </div>

          <div class="padding-vertical">
            I'm guessing you either used the wrong email address or you forgot your password. In the second case, you need to <%= link_to "reset your password", new_uaer_password_path if user_signed_in? %><%= "reset your password" if !user_signed_in? %>. Click the link and enter the email you that is associated with your account. Confirmation instructions will be sent to you in order to reset and change your password. Once you change your password be sure to tattoo it somewhere on your body for quick reference.
          </div>

          <div class="padding-bottom mid-text">
            How do I delete my account?
          </div>

          <div class="padding-vertical">
            First of all, I'm very sad to see that you want to delete your account. Deeply saddened... alright, I'm over it.
          </div>

          <div class="padding-vertical">
            To delete your account, go to your <%= link_to "settings", edit_user_registration_path if user_signed_in? %><%= "settings" if !user_signed_in? %> and locate the delete button on the bottom of the page. Click it and you'll be prompted to delete your account. Beware, this is permanent and wipes you clean out of the database. Your courses, videos, subscriptions, nor purchases will be available. No one, not even me, can get your account back.
          </div>

          <div class="padding-vertical">
            Farewell, my friend.
          </div>
            
        </div>

        <div id="third-tab">



        </div>

      </main>
    </div>

  </div>
</div>