<div class="wrapper">
  <div class="container">

    <% if user_signed_in? %>

      <div class="flex padding-vertical-large">
        <aside class="sidebar">
          <ul>
            <% if @subscribing.any? %>
              <% @subscribing.each do |user| %>
                <li class="inactive-sidebar-tab"><%= link_to user.profile.display_name.presence || user.username, user_path(user) %>
              <% end %>
            <% else %>
              You are not subscribed to anyone... yet.
            <% end %>
          </ul>
        </aside>

        <main class="content">
          <% if @subscriptions.any? %>
            <div class="flex">
              <% @subscriptions.each do |video| %>
                <div class="twenty-four border">

                  <%= link_to user_video_path(video.user, video) do %>
                    <img class="thumbnail-image-feed-four" src="<%= video.image_url(:thumb) %>">
                  <% end %>

                  <div class="padding-horizontal-mini padding-vertical-mini border-top">
                    <div class="video-title">
                      <%= link_to video.title, user_video_path(video.user, video) %>
                    </div>

                    <div class="mini-text">
                      <div class="flex">
                        <div class="forty-eight">
                          <%= link_to video.user.profile.display_name.presence || video.user.username, user_path(video.user), class: "black-link" %>
                        </div>
                        <div class="forty-eight right">
                          <%= remove_unwanted_words time_ago_in_words(video.created_at) %> ago
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              <% end %>
            </div>
          <% else %>
            You are not subscribed to anyone... yet.
          <% end %>
        </main>
      </div>

    <% else %>

      <div class="form-container padding-vertical-large">

        <div class="mid-text padding-bottom-large center">
          Register
        </div>

        <div class="padding-vertical form-border">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= devise_error_messages! %>

            <div class="field">
              <%= f.label :username %>
              <%= f.text_field :username, class: "text-field" %>
            </div>

            <div class="field">
              <%= f.label :email %>
              <%= f.email_field :email, class: "text-field" %>
            </div>

            <div class="field">
              <%= f.label :password %> <span class="dark mini-text">6 characters minimum.</span>
              <%= f.password_field :password, autocomplete: "off", class: "text-field" %>
            </div>

            <div class="">
              <%= f.submit "Register", class: "submit-button" %>
            </div>
          <% end %>
        </div>

        <div class="padding-top center">
          <%= link_to "But I already have an account.", sign_in_path %>
        </div>
      </div>

    <% end %>

  </div>
</div>