<%= provide(:title, sanitize(@user.profile.display_name.presence || @user.username)) %>

<div class="wrapper">
  <div class="container">

    <div class="padding-vertical-large border-bottom">

      <% if @video.free? %>
        <div class="flex">
          <div class="eighty-three">
            <video class="video-player" width="100%" height="auto" controls controlslist="nodownload">
              <source src="<%= @video.video_url %>">
              Your browser does not support this video.
            </video>
          </div>

          <div class="fifteen">
            <div class="padding-horizontal border-left">
              <div class="blackbox">
                THIS IS WHERE THE AD WILL GO IF VIDEO FREE
              </div>
            </div>
          </div>
        </div>
      <% else %>
        <video class="video-player" width="100%" height="auto" controls controlslist="nodownload">
          <source src="<%= @video.video_url %>">
          Your browser does not support this video.
        </video>
      <% end %>

    </div>

    <div class="flex padding-vertical-large border-bottom">
      <div class="eighty-three">
        <%= @video.title %>
      </div>

      <div class="fifteen">
        <div class="padding-horizontal border-left">
          76,654 views.
        </div>
      </div>
    </div>

    <div class="flex padding-vertical-large">
      <aside class="sidebar">
        <ul>
          <li class="active-sidebar-tab"><%= link_to "Videos", user_path(@user) %></li>
          <li class="inactive-sidebar-tab"><%= link_to "Description", user_about_path(@user) %></li>
        </ul>
      </aside>

      <main class="content">
        <% if @user.videos.any? %>
          <div class="flex">
            <% @user.videos.each do |video| %>
              <div class="twenty-four border">

                <img class="thumbnail-image-feed-four" src="<%= video.image_url(:thumb) %>">

                <div class="padding-horizontal-mini">
                  <div class="padding-vertical-mini">
                    
                    <div class="padding-bottom-mini">
                      <%= link_to video.title, user_video_path(@user, video) %>
                    </div>

                    <div class="mini-text">
                      <div class="flex">
                        <div class="forty-eight">
                          <%= @user.profile.display_name.presence || @user.username %>
                        </div>
                        <div class="forty-eight right">
                          <%= remove_unwanted_words time_ago_in_words(video.created_at) %> ago
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            <% end %>
          </div>
        <% else %>
          There are no videos... yet. <%= link_to "Add one?", new_user_video_path(current_user) if @user == current_user %>
        <% end %>
      </main>
    </div>

  </div>
</div>

<%= form_for(@comment, url: user_video_comments_path(@user, @video)) do |f| %>
  <div class="field">
    <%= f.label :content %>
    <%= f.text_area :content, class: "text-area" %>
  </div>

  <%= f.submit "Create comment", data: { disable_with: 'Creating...' }, class: "submit-button" %>
<% end %>

<% @video.comments.each do |comment| %>
  <%= comment.content %></br>
<% end %>
