<video class="video-player" width="100%" height="auto" controls controlslist="nodownload">
  <source src="<%= @video.video_url %>">
  Your browser does not support this video.
</video>

<img class="thumbnail-image" src="<%= @user.profile.image_url(:thumb) %>">

<%= form_for(@comment, url: user_video_comments_path(@user, @video)) do |f| %>
  <div class="field">
    <%= f.label :content %>
    <%= f.text_area :content, class: "text-area" %>
  </div>

  <%= f.submit "Create comment", data: { disable_with: 'Creating...' }, class: "submit-button" %>
<% end %>

<% @video.comments.each do |comment| %>
  <%= comment.content %></br>
<% end %>
